body{
    font-family: "Roboto", sans-serif;
    background-color: #333333;
    color: white;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Exo 2", sans-serif;
}
p{
    color: #c1c1c1;
}

.container{
    width: 80%;
    /* background-color: blueviolet; */
    margin: auto;  
}


:root{

    --primary-color: #ff305b;
    --bg-color :#151515;
}


.title{
width: 100%;
display: block;
margin: 20px auto;
text-align: center;
font-size: 32px;

}

.title h2{
    margin-bottom: 30px;

}
.title span{
    width: 10%;
    margin: 5px auto;
    display: block;
    border: 0.5px solid var(--primary-color);
}
 .title .middle{
    width: 20%;
 }


@keyframes Anchor-ball {
    
    0%{
        top: -20%;
        opacity: 1;
        border-radius: 50%;
        /* transform:scale(1) translate(-50%); */

    }
    50%{
        top: 40%;
        opacity: 1;
        border-radius: 50%;
        /* transform:scale(1) translate(-50%); */

        
    }
    100%{
        top: 40%;
        border-radius:20%;
        opacity: 0;
        /* transform:scale(5) translate(-25%); */

    }
}

@keyframes writeDesigner {
    0%{
        content: " |";
    }

    10%{
        content: " |";
    }

    20%{
        content: "D |";
        
    }
    30%{
        content: "De |";
    }
    40%{
        content: "Des |";
    }
    50%{
        content: "Desi |";
    }
    60%{
        content: "Desig |";
    }
    70%{
        content: "Design |";
    }
    80%{
        content: "Designe |";
    }
    90%{
        content: "Designer |";
    }
    100%{
        content: "Designer |";
    }
    
    
}
@keyframes opacity-section1-after {
    from {
        opacity: 0.3;
    }
    to {
        opacity: 0.8;
    }
}
