html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
}

/* navbar  */

.navbar {
    position: fixed;
    z-index: 11111112;
    width: 100%;
    background-color: #333333;
    padding: 5px 0px;

}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}


.navbar .logo {
    width: 5%;
}

.navbar .logo img {
    width: 100%;
}


.navbar .pages ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .pages ul li {
    list-style-type: none;
    height: calc(100%/6);
}

.navbar .pages ul li a {
    color: white;
    text-decoration: none;
    position: relative;
    transition-duration: 0.4s;
}

.navbar .pages ul li:not(:last-child) {
    margin-right: 30px;
}

.navbar .pages ul li a::after {

    content: "";
    position: absolute;
    left: 0;
    bottom: -20%;
    width: 100%;
    height: 2px;
    background-color: var(--primary-color);
    transform: scaleX(0);
    transition-duration: 0.4s;
}

.navbar .pages ul li a:hover::after {
    transform: scaleX(1);
}

.navbar .pages ul li a:hover {
    color: var(--primary-color);
}

.navbar .pages ul li a:focus::after {
    transform: scaleX(1);
}

.navbar .pages ul li a:focus {
    color: var(--primary-color);
}




.navbar .navbarButton {
    width: 50px;
    height: 40px;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    display: none;
}

.navbar .navbarButton span {
    height: 3px;
    width: 50%;
    background-color: var(--primary-color);

}

/* end of nav bar  */


/* --------------------------------------------------------------------------------- */


/* section 1 */

.section-1 {
    height: 100vh;
    background-image: url(../images/slider-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.section-1::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(5, 5, 5);
    opacity: 0.69;
    animation: opacity-section1-after 3s infinite alternate;
    animation-timing-function: ease-in-out;


}

.section-1 .content {
    z-index: 100;
}

.section-1 .content h4 {
    font-size: 35px;
    color: white;
}

.section-1 .content h1 {

    color: var(--primary-color);
    font-size: 80px;
}

.section-1 .content p {
    font-size: 20px;
    color: white;
}

.section-1 .content p::after {
    content: "";
    animation: writeDesigner 2s infinite alternate;
}

.section-1 .content a {
    width: 30px;
    height: 60px;
    border: 2px solid var(--primary-color);
    border-radius: 20px;
    position: absolute;
    bottom: 10%;
    transform: translate(-50%);
    overflow: hidden;
}

.section-1 .content a::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--primary-color);
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translate(-50%);
    animation: Anchor-ball 2s infinite;
}

.section-1 .content a:hover::before {
    animation: Anchor-ball 1s infinite;
}



/* end of section 1  */


/* ----------------------------------------------------------- */

/*  section 2 */


#About .container {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
}

#About .container .part1 {

    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}



#About .container .part1 .item .frame {
    border: 5px solid var(--primary-color);
    border-radius: 10px;

}

#About .container .part1 .item .frame .img {

    position: relative;
    transform: translate(5%, 5%);
    overflow: hidden;
    border-radius: 15px;

}

#About .container .part1 .item .frame .img img {
    display: block;
    width: 100%;

}

#About .container .part1 .item .frame .img .layout {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    transition-duration: 1s;
    top: 100%;

}

#About .container .part1 .item .frame .img:hover .layout {
    top: 0%;
}

#About .container .part1 .item .frame .img .layout ul {

    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
    height: 100%;

}

#About .container .part1 .item .frame .img .layout ul li a i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;

}

#About .container .part1 .item .frame .img .layout ul li a {
    text-decoration: none;

}

#About .container .part1 .item .frame .img:hover .layout ul li a i {
    opacity: 1;
    transform: translateY(10px);



}

#About .container .part1 .item .frame .img .layout ul li a .fa-facebook-f {
    color: #1877f2;
    background-color: white;
    border-radius: 50%;
    opacity: 0;
    transform: translateY(-10px);


}

#About .container .part1 .item .frame .img .layout ul li a .fa-instagram {
    background-color: white;
    border-radius: 50%;
    color: #e4405f;
    opacity: 0;
    transform: translateY(-10px);




}

#About .container .part1 .item .frame .img .layout ul li a .fa-twitter {
    background-color: white;
    border-radius: 50%;
    color: #1da1f2;
    opacity: 0;
    transform: translateY(-10px);
}

#About .container .part1 .item .frame .img .layout ul li a .fa-github {
    color: #1b1f23;
    background-color: white;
    border-radius: 50%;
    opacity: 0;
    transform: translateY(-10px);

}


#About .container .part1 .item .frame .img:hover .layout ul li a .fa-facebook-f {
    transition-delay: 1s;
    transition-duration: 1s;

}

#About .container .part1 .item .frame .img:hover .layout ul li a .fa-instagram {
    transition-delay: 1.2s;
    transition-duration: 1s;

}

#About .container .part1 .item .frame .img:hover .layout ul li a .fa-twitter {
    transition-delay: 1.4s;
    transition-duration: 1s;

}

#About .container .part1 .item .frame .img:hover .layout ul li a .fa-github {
    transition-delay: 1.6s;
    transition-duration: 1s;

}






#About .container .part2 {
    width: 50%;

}


#About .container .part2 h3 {
    border-left: 5px solid var(--primary-color);
    padding-left: 10px;
    font-size: 30px;
    margin-bottom: 20px;
}


#About .container .part2>p {
    font-weight: 50px;
    line-height: 25px;
    margin-bottom: 20px;
}

#About .container .part2 hr {
    border-style: dashed;
}

#About .container .part2 .info {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;

}


#About .container .part2 .info .in {
    flex-basis: 50%;
    margin-bottom: 20px;
    display: flex;
}

#About .container .part2 .info .in h4 {
    margin-right: 5px;
}

#About .container .part2 .btns button {
    border: 1px solid var(--primary-color);
    padding: 15px 20px;
    border-radius: 10px;
    background: transparent;
    transition-duration: 0.5s;
    margin-right: 15px;


}

#About .container .part2 .btns button a {
    color: var(--primary-color);
    text-decoration: none;
    transition-duration: 0.5s;

}

#About .container .part2 .btns button:hover {
    background-color: var(--primary-color);
    cursor: pointer;
}

#About .container .part2 .btns button:hover a {
    color: white;
}




/* end of section 2  */

/* ------------------------------------------------------------------ */




/*  start of section 3 */


#Services {
    padding: 50px 0px;
}


#Services .container {
    padding: 50px 0px;
    display: flex;
    flex-wrap: wrap;
}

#Services .container .card {

    text-align: center;
    flex-basis: 25%;

}

#Services .container .card .item {
    border: 1px solid var(--primary-color);
    margin-right: 20px;
    padding: 20px 30px;
    border-radius: 10px;
    transition-duration: 0.5s;
    margin-bottom: 30px;
}


#Services .container .card .item:hover {

    transform: translateY(-15px);
    box-shadow: 0 5px #ff305b66, 0 10px #ff305b4d, 0 15px #ff305b33, 0 20px #ff305b1a, 0 25px #ff305b0d, -5px 5px 40px #64000066;

}

#Services .container .card .item i {
    font-size: 30px;
    color: var(--primary-color);
}

#Services .container .card .item h3 {
    margin: 10px 0px;
}

#Services .container .card .item p {
    font-size: 18px;

}



/* end of section 3  */

/* ------------------------------------------------- */


/* start of section 4  */




#Portfolio .container{
    display: flex;
    padding: 40px 0px;   
    flex-wrap: wrap;
}

#Portfolio .container .card{

    width:calc(100%/3);

}
#Portfolio .container .card .item{
position: relative;
margin-right: 20px;
margin-bottom: 20px;

}
#Portfolio .container .card .item img{
    border-radius: 10px;
    width: 100%;
    display: block;
}


#Portfolio .container .card .item .layout{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 48, 91,0.5);
    transform: translate(-50%, -50%) scale(0);
    border-radius: 100%;
    transition-duration:1s;
    overflow: hidden;
}



#Portfolio .container .card .item:hover .layout{
    transform: translate(-50%, -50%) scale(1);
    border-radius: 10px;

}

#Portfolio .container .card .item .layout h3{
color: white;
background-color: var(--primary-color);
font-size: 25px;
position: absolute;
width: 100%;
padding: 10px 0px;
text-align: center;
top: 10%;
left: 100%;

}


#Portfolio .container .card .item .layout a{
    text-decoration: none;
    color: var(--primary-color);
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    bottom: -30%;
    transform: translateX(-50%);

    
}


#Portfolio .container .card .item:hover .layout a{
    bottom: 15%;
    transition-delay: 1s;
    transition-duration: 1s;
    
}


#Portfolio .container .card .item:hover .layout h3{
    transition-delay: 1s;
    transition-duration: 1s;
    left: 0;
}


/* end of section 4  */


/* ------------------------------------------------- */


/* start of section 5 */


#Blog .title{
    margin-bottom: 40px;
}
#Blog .container{
    display: flex;
    flex-wrap: wrap;
}

#Blog .container .card{
width: 280px;
margin: auto;
}

#Blog .container .card .item{
    overflow: hidden;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
}



#Blog .container .card .item img,
#Blog .container .card .item iframe {
    width: 100%;
    height: 200px;

}

#Blog .container .card .item .lamp{
padding: 20px;
}

#Blog .container .card .item .lamp >*{
    padding: 5px;
}

#Blog .container .card .item .lamp p{
    line-height: 30px;
}


#Blog .container .card .item .lamp a{

    text-decoration: none;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    margin-top: 5px;
    padding: 10px;
    display: block;
    width: fit-content;
    transition-duration: 1s;

}
#Blog .container .card .item .lamp a i{
transition-duration: 1s;
}
#Blog .container .card .item .lamp a:hover{
    background-color: var(--primary-color);
    color: white;

}
#Blog .container .card .item .lamp a:hover i{
    margin-left: 5px;

}

/* end of section 5  */


/* ------------------------------------------------- */


/* start of section 6 */


#Contact{
    display: flex;
    padding: 60px 0px;   
    flex-wrap: wrap;
}

#Contact .title{
    margin-bottom: 40px;
}


#Contact .container form{

    width: 60%;
    margin: auto;

}
#Contact .container form .card{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
#Contact .container form .card .in{
    width: 100%;

}


#Contact .container form .card .in .item .insert{
    width: 100%;
    padding: 5px;
    display: block;
    margin: auto;
    border: 1px solid var(--primary-color);
    background-color: transparent;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 10px;

}

#Contact .container form .card .in .item .insert::placeholder {
    color: white;
    opacity: 1;  
}


#Contact .container form .card .in:nth-child(1),
#Contact .container form .card .in:nth-child(2)
{
    width: 49%;
}


#Contact .container form .card .in .item textarea {
    width: 300px;
    height: 180px;
    resize: none;
}



#Contact .container form button{

    color: var(--primary-color);
    background-color: transparent;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    margin-top: 5px;
    padding: 10px;
    display: block;
    width: fit-content;
    transition-duration: 1s;
}


#Contact .container form button:hover{
 background-color: var(--primary-color);
    color: white;
    cursor: pointer;

}




/* /FOOTER */


footer h5 {
    text-align: center;
    background-color: #333333;
    font-size: 15px;
    padding: 10px;
}


